# git ignore file
**/Nuget/
Nuget/
.vscode/
*.[pdb]
*.suo
*.user
*.pdb
*.tmp
*.log

#/Tools/*
*.DotSettings
**/.vs/
.vs/
.vs
applicationhost.config
**/packages/
packages/
*.nupkg

# Build results
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/bld/
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/